<section class="h-100 h-custom gradient-custom-2">
    <div class="header mt-2 p-2">
        <a class="text-bolt p-2" routerLink="">Home</a>
        <a class="text-bolt p-2" routerLink="/register">Register</a>
        <a class="text-bolt p-2" routerLink="/login">Login</a>
    </div>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="card card-registration card-registration-2" style="border-radius: 20px;">

                                <h3 class="text-center mb-5" style="color: #4835d4;">Page Infomation</h3>

                </div>
            </div>
        </div>
    </div>
</section>